<nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo black-text ml-1">Gallery</a>
      <a href="" data-target="mobile-side" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down mr-2">
        <li>
          <form>
            <div class="input-field black-text">
              <input id="search" type="search" required placeholder="Search">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li><a href="/" class = "black-text">Home</a></li>
      </ul>
    </div>
    
  </nav>
  <ul class="sidenav" id="mobile-side">
    <li><a href="/" class = "black-text">Home</a></li>
  </ul>