.fh-container{
    min-height: 100vh;
}

.ml-2{
    margin-left: 2rem;
}

.ml-1{
    margin-left: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.ga-card{
    border-radius: 1rem;
}

.ga-card img{
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}

.input-field input[type=search] {
    display: inline-block;
    background-color: rgb(241, 239, 239);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0.4rem;
}

::placeholder {
    color: #000000!important;
}

.ga-modal{
    border-radius: 1rem!important;
}